.profile-page {
    height: 160vh;
    color: white;
}
.profile-component {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    max-width: 800px;
}
.profile-component > h1 {
font-size: 30px;
font-weight: 400;
border-bottom: 1px solid grey;
margin-bottom: 20px;
color: grey;
}
.profile-data {
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    margin-top: -4px;
    width: 800px;

}
.profile-data > img {
    height: 100px;
}
.profile-details {
    color: white;
    margin-left: 25px;
    flex:1;;
}
.profile-details > h3 {
    background: linear-gradient(
        90deg,
        rgb(235, 110, 110) 0%,
        rgb(234, 199, 166) 100%
      );
    color: black;
    padding: 5px;
    font-size: 10px;
    padding-left: 20px;
    border-radius: 2px;
}
.user-plans > h2 {
    border-bottom: 1px solid darkblue;
    padding-bottom: 5px;
    color: rgb(49, 49, 80);
}
.profile-button{
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 3%;
    width: 100%;
    color: white;
    background-color: rgb(215, 77, 77);
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.plan-detail {
    background-color: rgb(188, 186, 186);
    padding: 10px;
    font-size: 12px;
    padding-left: 10px;
    color: rgb(49, 49, 80);
    
}
.plan-detail > h4 {
    font-size: small;
    color: brown;
    text-decoration-style:wavy;

}
.check-icon {
 margin-left: 300px;
 padding-left: 120px;
 
}
.intro {
    background-color: rgb(188, 186, 186);
    margin-top: 5px;
    margin-bottom: 5px;

    padding: 10px;
    font-size: 15px;
    padding-left: 10px;
    color: rgb(49, 49, 80);
}
.intro-step1 {
    color: rgb(49, 49, 80);
 font-style: italic;
 font-size:large;
}